.hero{
    background: no-repeat url(../../../content/images/background.jpg);
    background-position: center;
    width:100%;
    height:calc(100% - 30px);
    margin-top:0;
    position:relative;
    color:white;
    margin-top:-25px;
    z-index:21;
}
.map{
    width:100%;
}
@media screen and (min-width: 1024px) {
    .hero {
         background-size:100%;
    }
    p{
        font-size:20px;
        padding:20px;
    }
    .map{
        width:800px;        
    }
}
.down{
    bottom:30px;
    left:50%;
    margin-left:-30px;
    display: block;
    position:absolute;
}

.callto{
    position:fixed;
    right:50px;
    bottom:30px;
    z-index:20;
}

.section{
    padding-top: 1em;
    padding-bottom: 1em;
}

.section iframe{
    width:90%;
    margin-left:5%;
    height:400px;
}

.big{
    font-size:48px;
    line-height:48px;
    height:48px;
}

.big .material-icons{
    font-size:36px;
    line-height:36px;
}

.section:nth-child(even) {
    background-color:rgba(96, 125, 139, 0.2);
}

#timeline .timeline-item:after,#timeline .timeline-item:before{content:'';display:block;width:100%;clear:both}*,*:before,*:after{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}#timeline{line-height:1.5em;font-size:14px;width:90%;margin:30px auto;position:relative;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-ms-transition:all 0.4s ease;transition:all 0.4s ease}#timeline:before{content:"";width:3px;height:100%;background:#ee4d4d;left:50%;top:0;position:absolute}#timeline:after{content:"";clear:both;display:table;width:100%}#timeline .timeline-item{margin-bottom:50px;position:relative}#timeline .timeline-item .timeline-icon{background:#ee4d4d;width:50px;height:50px;position:absolute;top:0;left:50%;overflow:hidden;margin-left:-23px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%}#timeline .timeline-item .timeline-icon img{position:relative;top:14px;left:14px}#timeline .timeline-item .timeline-content{width:45%;background:#fff;padding:20px;-webkit-box-shadow:0 3px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 3px 0 rgba(0,0,0,0.1);-ms-box-shadow:0 3px 0 rgba(0,0,0,0.1);box-shadow:0 3px 0 rgba(0,0,0,0.1);-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;transition:all 0.3s ease}#timeline .timeline-item .timeline-content h2{padding:15px;background:#ee4d4d;color:#fff;margin:-20px -20px 0 -20px;font-weight:500;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0}#timeline .timeline-item .timeline-content:before{content:'';position:absolute;left:45%;top:20px;width:0;height:0;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:7px solid #ee4d4d}#timeline .timeline-item .timeline-content.right{float:right}#timeline .timeline-item .timeline-content.right:before{content:'';right:45%;left:inherit;border-left:0;border-right:7px solid #ee4d4d}@media screen and (max-width: 768px){#timeline{margin:30px;padding:0}#timeline:before{left:0}#timeline .timeline-item .timeline-content{width:90%;float:right}#timeline .timeline-item .timeline-content:before,#timeline .timeline-item .timeline-content.right:before{left:10%;margin-left:-6px;border-left:0;border-right:7px solid #ee4d4d}#timeline .timeline-item .timeline-icon{left:0}}
.timeline-content h2 small {clear:both; color:black; display:block;}
.timeline-content h2 {font-size:20px;}
#timeline .timeline-item.break .timeline-content, #timeline .timeline-item.break .timeline-content h2{background-color: rgb(33, 150, 243);}
#timeline .timeline-item.break .timeline-content:before{border-left-color:rgb(33, 150, 243); }
#timeline .timeline-item.break .timeline-content.right:before{border-right-color:rgb(33, 150, 243); }
#timeline .timeline-item.break .timeline-icon{background-color:rgb(33, 150, 243); }
@media screen and (min-width: 1024px) {
.timeline-content h2 {font-size:30px;}
}
.timeline-item .material-icons{color:white;font-size: 48px;}
.orador{font-size:20px;}
img.speakerImg {width:200px; height:200px;}
.speakerName {font-size:20px; margin-top:10px; margin-bottom:0;}
.speakerBio {font-size:14px; padding:0 10px 20px 10px; margin-bottom:0;}